.login-card {
    width: 500px;
    border-radius: 35px;
    margin-left: 33%;
    margin-top: 25%;
    padding: 30px;
    box-shadow: 0 0 20px 0 #DDD6FE !important;
    border: 1px solid #d400ff !important;  
}

.login-card h5 {
    text-align: center !important;
    color: #d400ff !important;
    margin-bottom: 2rem;
}

.login-card button {
    text-align: center !important;
    background-color: #cd1ff8 !important;
    border: 1px solid #2c2c2c !important;
}

.border-right {
    border: 1px solid #aa0063 !important;
    box-shadow: 0 0 20px 0 #cd1ff8 !important;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 0 !important;
}

.users {
    height: 600px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #da0a4f #f0a3bd;
    padding: 15px;
}

.list-group li {
    cursor: pointer;
    border: 0px solid #7e014e !important;
    border-bottom: 1px solid #9e006f !important;
}

.card-chats {
    height: 700px;
    border: 1px solid #700054 !important;
    box-shadow: 0 0 20px 0 #850359 !important;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.titulo-chat {
    color: #c0013a !important;
    display: flex;
    gap: 15px;
}

.titulo-chat span small {
    color: #c0013a !important;
    font-size: 1rem;
}

.titulo-chat img {
    border-radius: 50% !important;
    border: 1px solid #e70f45 !important;
    width: 50px;
    height: 50px;
}

.btn-enviar {
    text-align: center !important;
    background-color: #f72c91 !important;
    border: 1px solid #6D28D9 !important;
}

.btn-enviar:hover {
    background-color: #9176fb !important;
}

#chats {
    overflow-y: scroll;
    height: 480px !important;
    scrollbar-width: thin;
    scrollbar-color: #da0a4f #f0a3bd;
    border: 1px solid #eb0062 !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.flex {
    display: flex;
    gap: 10px;  
}

.flex-right{
    justify-content: end ;
}

.chat {
    
    border: 1px solid #cf056a !important;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 60% !important;
}

.chat-emisor{
    background-color: #ebc5e2 !important;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.chat-receptor {
    background-color: #e288c0 !important;
    /* float: right; */
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.img-chat {
    border-radius: 50% !important;
    border: 1px solid #c7193f !important;
    width: 40px;
    height: 40px;
}

.online {
    padding: 15px !important;
    border-bottom: 1px solid #c00d93 !important;
}